<%= stylesheet_link_tag 'daterangepicker-bs3', 'jquery.dataTables', 'bootstrap-multiselect' %>
<%= javascript_include_tag 'moment.min', 'daterangepicker', 'jquery.dataTables', 'bootstrap-multiselect', 'prettify' %>
<div class="page" style="width:1280px;">
  <div class="pageheader">
    <form role="form">
      <table>
        <tr>
          <td width="100%" height="100%" align="right">
            <table>
              <tr>
                <td style="padding:5px;" align="left">
                  <label>Period</label>
                </td>
                <td style="padding:5px;" align="left">
                  <div id="daterange" class="selectbox" style="background: #fff; cursor: pointer; padding: 2px 5px; border: 1px solid #a9a9a9;border-radius: 4px;width:210px">
                    <i class="glyphicon glyphicon-calendar"></i>
                    <span></span>
                    <b class="caret"></b>
                  </div>
                  <!-- daterange -->
                </td>
              </tr>
            </table>
          </td>
          <td width="6px"></td>
          <td align="center" valign="center" style="border-left:1px #CCCCCC Solid;padding:10px;">
            <table>
              <tbody>
                <tr>
                  <button type="submit" id="btn_viewreport" class="btn btn-success">View Report</button>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </table>
    </form>
		<!--/.form pageheader-->
  </div>
  <!--/.pageheader -->
	<div class="pagecontent">
    <div class="tab-content">
			<table id="mpa" class="display" cellspacing="0" width="100%"></table>
		</div>
		<!--/.tab-content-->
	</div>
	<!--/.pagecontent-->
</div>
<!--page-->
<script>
	var start_date = '';
	var end_date = '';
	var arr_user = '';
	var data_table;
	var data_set;
	$(document).ready(function() {
    $('#daterange').daterangepicker({
      ranges: {
        'Today': [new Date(), new Date()],
        'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
        'Last 7 Days': [moment().subtract('days', 6), new Date()],
        'Last 30 Days': [moment().subtract('days', 29), new Date()],
        'This Month': [moment().startOf('month'), moment().endOf('month')],
        'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
      },
      opens: 'left',
      format: 'YYYY-MM-DD',
      //startDate: '2014-04-08',
      //endDate: '2014-05-07'
    },
		function(start, end) {
			start_date = start.format('YYYYMMDD');
			end_date = end.format('YYYYMMDD');
			console.log(start_date);
      $('#daterange span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
    });
		function format ( d ) {
    // `d` is the original data object for the row
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<td>Reviewer:</td>'+
            '<td>'+d.reviewer+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Comments:</td>'+
            '<td>'+d.comments+'</td>'+
        '</tr>'+
    '</table>';
		}

		function gen_report(){		
			var team = getURLParameter("team");
			var table = '';
			table = $('#mpa').DataTable({
				"bAutoWidth" : false,
				"retrieve" : true,
				"iDisplayLength": 100,
				"bProcessing": true,
				"ajax": { 
					"url" : "/case_review/get_case_review_report",
					"type" : "POST",
					"data" : { "start_date" : start_date, "end_date" : end_date, "team" : team }
				},
				"order" : [[1,"desc"]],
				"columns" : [
					{
						"class" : 'details-control',
						"orderable" : false,
						"data" : null,
						"defaultContent" : ''
					},
					{ "title" : "CaseID" , "data" : "case_id" },
					{ "title" : "Sev" , "data" : "severity", "sClass" : "center"},
					{ "title" : "Score", "data" : "score", "sClass" : "center"},
					{ "title" : "Owner", "data" : "owner" },
					{ "title" : "IR template", "data" : "ir_template", "sClass" : "center" },
					{ "title" : "Annotation", "data" : "annotation", "sClass" : "center" },
					{ "title" : "Handover template", "data" : "handover_template", "sClass" : "center" },
					{ "title" : "Timely update" , "data" : "timely_update", "sClass" : "center"},
					{ "title" : "Closure template" , "data" : "closure_template", "sClass" : "center" },
					{ "title" : "Closure consent" , "data" : "closure_consent", "sClass" : "center" },
					{ "title" : "Courtesy" , "data" : "courtesy", "sClass" : "center" },
					{ "title" : "Wording" , "data" : "wording", "sClass" : "center" },
					{ "title" : "Technical expertise" , "data" : "technical_expertise", "sClass" : "center" }
				]
			});
			$('#mpa tbody').off('click');
			$('#mpa tbody').on('click', 'tr', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    } );
		}
		function get_current_month() {
			var firstDate = new Date();
			firstDate.setDate(1);
			firstDate.setMonth(firstDate.getMonth() - 0);
			var endDate = new Date(firstDate);
			endDate.setMonth(firstDate.getMonth()+1);
			endDate.setDate(0);
			start_date = firstDate.format("yyyyMMdd");
			end_date = endDate.format("yyyyMMdd");
			return firstDate.format("dd/MM/yyyy") + ' - ' + endDate.format("dd/MM/yyyy");
		}
		$('#daterange span').html(get_current_month());
		$('#btn_viewreport').click(function(e){
			e.preventDefault();
			//data_table.fnClearTable(0);
			gen_report();
		});
		
		gen_report();
	});
</script>
